<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilos.css">
    <link rel="stylesheet" href="../css/ligthbox.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../js/lightbox.js"></script>
    <script src="../js/script.js" defer></script>
    <title>Freyja's Sanctuary</title>
</head>
<body>
    <header>
        <div class="logoCont">
            <img class="logo" src="../imagenes/logo.png" alt="Logo de Freyja's sanctuary" width="84" height="100">
            <h1>Freyja's sanctuary</h1>
        </div>
    </header>

    <nav>
        <div class="navbar">
            <a href="../index.html">inicio</a>
            <a class="selec" href="galeria.html">Galeria</a>
            <a href="presupuesto.html">Presupuesto</a>
            <a href="contacto.html">Contacto</a>
        </div>
    </nav>
    <div class="contPresu" style="flex-direction: column;">
         <h2 class="tituloSeccion">Galeria</h2>
        <div id="galeria"> 
            <div class="row">
            <div class="column">
                <img src="../imagenes/vela1.jpeg" onclick="openModal();currentSlide(1)" class="hover-shadow cursor" alt="Vela artesanal 1" height="1080" width="1334">
            </div>
            <div class="column">
                <img src="../imagenes/vela2.jpg" onclick="openModal();currentSlide(2)" class="hover-shadow cursor" alt="Vela artesanal 2" height="1080" width="1337">
            </div>
            <div class="column">
                <img src="../imagenes/vela3.jpg" onclick="openModal();currentSlide(3)" class="hover-shadow cursor" alt="Vela artesanal 3" height="1080" width="1203">
            </div>
            <div class="column">
                <img src="../imagenes/vela4.jpg" onclick="openModal();currentSlide(4)" class="hover-shadow cursor" alt="Vela artesanal 4" height="1080" width="1047">
            </div>
            <div class="column">
                <img src="../imagenes/vela5.jpg" onclick="openModal();currentSlide(5)" class="hover-shadow cursor" alt="Vela artesanal 5" height="1080" width="1347">
            </div>
            <div class="column">
                <img src="../imagenes/vela6.jpg" onclick="openModal();currentSlide(6)" class="hover-shadow cursor" alt="Vela artesanal 6" height="1080" width="1386">
            </div>
            </div>

            <div id="myModal" class="modal">
            <span class="close cursor" onclick="closeModal()">&times;</span>
            <div class="modal-content">

                <div class="mySlides">
                <div class="numbertext">1 / 6</div>
                <img src="../imagenes/vela1.jpeg" style="width:100%" alt="Vela artesanal 1" height="1080" width="1334">
                </div>

                <div class="mySlides">
                <div class="numbertext">2 / 6</div>
                <img src="../imagenes/vela2.jpg" style="width:100%" alt="Vela artesanal 2" height="1080" width="1337">
                </div>

                <div class="mySlides">
                <div class="numbertext">3 / 6</div>
                <img src="../imagenes/vela3.jpg" style="width:100%" alt="Vela artesanal 3" height="1080" width="1203">
                </div>
                
                <div class="mySlides">
                <div class="numbertext">4 / 6</div>
                <img src="../imagenes/vela4.jpg" style="width:100%" alt="Vela artesanal 4" height="1080" width="1047">
                </div>

                <div class="mySlides">
                <div class="numbertext">5 / 6</div>
                <img src="../imagenes/vela5.jpg" style="width:100%" alt="Vela artesanal 5" height="1080" width="1347">
                </div>

                <div class="mySlides">
                <div class="numbertext">6 / 6</div>
                <img src="../imagenes/vela6.jpg" style="width:100%" alt="Vela artesanal 6" height="1080" width="1386">
                </div>
                
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>

                <div class="caption-container">
                <p id="caption"></p>
                </div>


                <div class="column">
                <img class="demo cursor" src="../imagenes/vela1.jpeg" style="width:100%" onclick="currentSlide(1)" alt="Vela artesanal 1">
                </div>
                <div class="column">
                <img class="demo cursor" src="../imagenes/vela2.jpg" style="width:100%" onclick="currentSlide(2)" alt="Vela artesanal 2">
                </div>
                <div class="column">
                <img class="demo cursor" src="../imagenes/vela3.jpg" style="width:100%" onclick="currentSlide(3)" alt="Vela artesanal 3">
                </div>
                <div class="column">
                <img class="demo cursor" src="../imagenes/vela4.jpg" style="width:100%" onclick="currentSlide(4)" alt="Vela artesanal 4">
                </div>
                <div class="column">
                <img class="demo cursor" src="../imagenes/vela5.jpg" style="width:100%" onclick="currentSlide(5)" alt="Vela artesanal 5">
                </div>
                <div class="column">
                <img class="demo cursor" src="../imagenes/vela6.jpg" style="width:100%" onclick="currentSlide(6)" alt="Vela artesanal 6">
                </div>
            </div>
            </div>
        </div>
    </div>

    <footer>
        <div>
            <a href="https://www.instagram.com/">
            <img src="../imagenes/Instagram_logo_2022.jpg.webp" alt="instagram" title="instagram" width="50" height="50">
            </a>
            <a href="https://www.facebook.com/">
            <img src="../imagenes/facebook.jpg" alt="facebook" title="facebook" width="50" height="50">
            </a>
            <a href="https://twitter.com/">
            <img src="../imagenes/twiter.png" alt="twitter" title="twitter" width="50" height="50">
            </a> 
            <p><a href="contacto.html">Plaça d'Octavià, 7, Sant Cugat 08892, España.</a></p>
            <p><a href="avisoLegal.html">&copy; 2023 Freyja's Sanctuary. Todos los derechos reservados.</a></p>
        </div>
    </footer> 

</body>
</html>